@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

a.index-picture {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 15vh;
}

img.picture
{
  margin-top: 2%;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09);
}

.index-cam {
  max-width: 60%;
  padding-top: 15vh;
}

html {
  margin: 0;
  padding: 0;
  background-image: url("img/background.png");
  color: rgb(0, 0, 0);
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5vh;
  width: 100%;
  height: 100%;
}

.center-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

@media only screen and (max-width: 390px){
  .center-container{
  flex-direction: column;
  }
  .arrows{
  font-size: 10px;
  }
}
.images-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
  margin-top: 51px;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  flex-direction: column;
  font-size: large;
}

.middle-profile{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 12vh;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

 .border-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("img/background.png");
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.18);
  padding: 3vw;
  border-radius: none;
  width: 44vh;
  line-height: 1;
  font-size: large;
} 

.border-profile button.delete {
  margin-left: 92.5%;
  border-radius: none;
  font-family: inherit;
  font-size: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: 0.3s opacity, 0.3s transform;
}
.border-profile button.delete:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.border-profile button.submit-comment {
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: 0.3s opacity, 0.3s transform;
  margin-bottom: 3vh;
  background-color: inherit;
}

.border-profile button.submit-comment:hover, button.like:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.border-profile button.like{
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: 0.3s opacity, 0.3s transform;
  margin-bottom: 1vh;
  margin-top: 2vh;
  background-color: inherit;
}

p.like_count{
  margin-top: 2.7vh;

}

.username{
  padding-bottom: 1.5vh;
  font-size: larger;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("img/background.png");
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.18);
  padding: 50px;
  border-radius: none;
  width: 260px;
  line-height: 2;
  font-size: large;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("img/background.png");
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.18);
  padding: 48px;
  border-radius: none;
  width: 260px;
  line-height: 3;
  margin-right: 7vw;
}
.gallery{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.picture-gallery{
  width: 30%;
  border: 2px rgba(183, 176, 250, 0.452);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.18);
  border-radius: 2%;
}

.index-middle {
  margin-left: 10vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.index-container button {
  margin-top: 2vh;
  width: 60%;
  padding: 10px;
  border-radius: none;
  font-family: inherit;
  font-size: 20px;
  border: none;
  color: rgb(10, 10, 10);
  background-color: rgb(202, 202, 202);
  cursor: pointer;
  transition: 0.3s opacity, 0.3s transform;
}

.index-container button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.pagination {
  text-align: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  padding-top: 20px;
}
.camera-index {
  display: flex;
  justify-content: center;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("img/background.png");
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.18);
  padding: 50px;
  border-radius: none;
  width: 260px;
  line-height: 2;
  font-size: large;
}

.upload-container input{
  width: 50%;
  padding: 10px;
  border: inset 1px rgb(184, 176, 250);
  border-radius: none;
  font-family: inherit;
  color: #0a0508;
  font-size: medium;
}

input[type="file"]{
  width: 100%;
}

input[type="file"]::file-selector-button {
  width: 50%;
  padding: 10px;
  border: inset 1px rgb(0, 0, 0);
  border-radius: none;
  font-family: inherit;
  color: #0a0508;
  font-size: medium;
}
 
.signup-container input {
  width: 90%;
  padding: 10px;
  border: inset 1px rgb(0, 0, 0);
  border-radius: none;
  font-family: inherit;
  /* color: rgb(123, 116, 166); */
  color: #0a0508;
  font-size: large;
}

.signup-container button {
  margin-top: 2vh;
  width: 60%;
  padding: 10px;
  border-radius: none;
  font-family: inherit;
  font-size: 20px;
  border: none;
  color: rgb(3, 3, 3);
  background-color: rgb(202, 202, 202);
  cursor: pointer;
  transition: 0.3s opacity, 0.3s transform;
}

.signup-container button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.input-element label {
  margin-bottom: 0;
}

footer div {
  text-align: center;
  font-size: 15px;
  margin-top: 10vh;
}

.camera {
  width: 100%;
  display: flex;
  justify-content: center;
}

.camera img {
  width: 60px;
  padding-top: 10%;
}

h1 {
  text-align: center;
}

label.question {
  width: 100%;
}

label.info{
  font-size: 15px;
  font-style: italic;
}

div.login {
  margin-bottom: 10px;
}

.php-messages {
  font-family: inherit;
  margin-top: 7px;
  text-align: center;
  color: black;
  background-image: url("img/background.png");
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.18);
  padding: 3%;
  margin: 3%;
}

#message
{
  font-family: inherit;
  margin-top: 7px;
  text-align: center;
  color: black;
  background-image: url("img/background.png");
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.18);
  padding: 3%;
  margin: 5%;
  margin-top: 50%;
}

.png-wrap {
  display: flex;
  justify-content: center;
  width: 7%;
}

img.png {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 30px;
}

.png-header {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

div.settings{
  padding-right: 7vw;
}

div.profile{
  padding-right: 7vw;
}

div.pic{
  padding-right: 7vw;
}

div.logout{
  max-width: 2.5vh;
}

.notif-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  border-radius: none;
  width: 260px;
  font-size: large;
}
input.notif
{
  background-color: rgba(255, 255, 255, 0.69);
  font-family: inherit;
  margin:5%;
  margin-left: 40%;
  margin-right: 40%;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09);
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 6vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 7px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.07);
}

.fname {
  font-style: italic;
  color: rgba(128, 128, 128, 0.719); 
}

form.comments
{
  display:contents; 
}

.show-comments
{
  background-color: #dddcd773;
  display: flex;
  padding: 2%;
  border: 2px;
  border-radius: 3px;
}

.like-container{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  background-color: inherit;
}

.container {
  display: contents;
  font-family: inherit;
}

.view-finder {
  position:relative;
}

.sticker-preview{
  position:absolute;
  height: 230px;
  width: 330px;
  background-repeat: no-repeat;
  background-size: 90px;
  background-position-x: right;
  background-position-y: bottom;
}

.sticker-preview1{
  position:absolute;
  height: 230px;
  width: 330px;
  margin-left: 3vh;
  background-repeat: no-repeat;
  background-size: 90px;
  background-position-x: left;
  background-position-y: top;
}

.canvas-preview {
  position:absolute;
  height: 280px;
  width: 375px;
  background-repeat: no-repeat;
  background-size: 90px;
  background-position-x: right;
  background-position-y: bottom;
}

.canvas-preview1 {
  position:absolute;
  height: 280px;
  width: 375px;
  background-repeat: no-repeat;
  background-size: 90px;
  background-position-x: left;
  background-position-y: top;
}
.sticker-middle{
  display: flex;
  flex-direction: center;
  font-size: large;
  height: 15vh;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.18);
  background-color: rgba(255, 255, 255, 0.664);
}

.sticker-container{
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}
.sticker-container img
{
  height:85%;
}

button#take_photo, button#web_add, button#start_camera {
  padding-top: 5px;
  border-radius: none;
  background-color: inherit;
  font-family: inherit;
  font-size: large;
  cursor: pointer;
  transition: 0.3s opacity, 0.3s transform;
  margin-top: 2vh;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09);
  border: 2px white;
}
button#take_photo:hover , button#web_add:hover , button#start_camera:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

img.img_size{
  width: 14vw;
  border: 1px, white;
  border-radius: 5px;
}

.slide {
  overflow: auto;
  display: flex;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09);
}